*,
*:after,
*:before {
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: White;
	transition: background-color 5000s ease-in-out 0s;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:900i');

.swiper-container {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

body {}

header {
	width: 100%;
	height: 30vh;
	margin-bottom: 1.5em;
	background: #282537;
	background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
	background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
	background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
	background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999999;
}

header img {
	margin-top: 2.5em;
	height: 100px;
	transition: 0.3s;
}

h1 {
	color: white;
	text-align: center;
	padding: 1.2em 0.4em 0.9em 0.4em;
	font-weight: 100;
	font-family: Mr Dafoe, sans-serif;
	font-size: 5em;
	text-align: center;
	text-shadow: 0 -3px 0 #333,
		0 3px 4px rgba(0, 0, 0, .4),
		0 4px 5px rgba(0, 0, 0, .15),
		0 15px 5px rgba(0, 0, 0, .18),
		0 7px 5px rgba(0, 0, 0, .21);
	transition: 0.3s;
}

.verdwijn {
	color: #ffffff00;
	text-shadow: none;
	opacity: 0;
}

/*----------- [ZOEKBALK]------------*/
#zoeker {
	padding: 1.5em 2em 1em 2em;
	width: 100vw;
	position: fixed;
	z-index: 99999999999999;
	transition: 0.2s;
}

#zoeker i {
	font-size: 0.8em;
	padding-right: 0.5em;
	color: white;
}

#zoeker input {
	font-size: 0.6em;
	padding: 0 0 0.4em 0;
	width: 75vw;
	background-color: rgba(0, 0, 0, 0.00);
	border-bottom: solid 0.5px white;
	color: white;
}

#zoeker input::placeholder{
	color: white;
}

.backgroundForm {
	background-color: #3c3b52;
}


/*----------- [NAV]------------*/
nav {
	background-color: white;
	width: 100vw;
	overflow-x: scroll;
	z-index: 999999999999999999999999999999999999999;
	margin-top: 30vh;
	position: absolute;
}

nav ul {
	align-self: flex-start;
	padding: 0.5em 0 0 1.2em;
	display: flex;
}

nav ul li {
	font-family: sans-serif;
	font-size: 0.7em;
	font-weight: 500;
	margin: 0.5em;

	padding-bottom: 0.7em;
	text-decoration: none;
}

nav ul li a {
	color: #252233;
	text-decoration: none;
}

.active {
	font-weight: bold;
	border-bottom: 1px solid #252233;
}

.sticky {
	position: fixed;
	top: 0;
	margin-top: 55px;
}

/*----------- [PAGES]------------*/


main {}

.item {
	max-width: 90vw;
	min-width: 90vw;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	margin: 1.5em 0 0 0;
}

.item img {
	width: 100%;
	height: 100%;
}

article {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1em;

}

article h2 {
	color: black;
	max-width: 100%;
	font-size: 1em;
	font-family: sans-serif;
	text-align: left;
	margin: 0 0 1em 0;
}

article p {
	font-size: 1em;
	margin: 0 0 4em 0;
	width: 100%;
	color: black;
}

.source {}

.source img {
	width: 25px;
	height: 25px;
	top: -35px;
	margin-left: 15px;
	position: relative;
}

.source p {
	font-size: 1em;
	color: white;
	background-color: #302e42;
	padding: 0.2em 2.5em 0.2em 0.5em;
	margin: -15px 0 0 1em;
	position: relative;
}

.articleFooter {
	width: 100%;
}

.articleFooter span {
	color: #979696;
	padding: 0.2em 0.5em 0.2em 0.5em;
	width: 100%;
	font-size: 0.8em;
}


/*---------------------DeStandaars----------------*/
#DeStandaard {
	background: #00c1d5;
}

#sourceDeStandaard p {
	background-color: #00c1d5;
}

/*---------------------DeTijd----------------*/
#DeTijd {
	background: #263f77;
}

#sourceDeTijd p {
	margin-top: 20px;
	background: #263f77;
}

#sourceDeTijd img {
	display: none;
}

/*---------------------HLN----------------*/
#HLN {
	background: #ff2d2c;
}

#sourceHLN p {
	background-color: #ff2d2c;
}


/*---------------------NYT----------------*/
#NYT {
	background: #000000;
}

#sourceNYT p {
	background: #000000;
}


/*---------------------BBC----------------*/

#BBC {
	background: #bb1919;
}

#sourceBBC p {
	margin-top: 20px;
	background: #bb1919;
}

#sourceBBC img {
	display: none;
}


/*---------------------Pajot----------------*/

#Pajot {
	background: #f7d101;
}

#sourcePajot p {
	margin-top: 20px;
	background: #f7d101;
}

#sourcePajot img {
	display: none;
}


